@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-text {
    text-align: center;
    font-size: 24px;
    color: green;
    animation: blink 1s infinite;
}

.blinking-text.card {
    background: aquamarine;
}

.social-media iframe {
    width: 100%;
}